// Home/index.less
.home {
    position: relative;
    height: 100vh;
    // width: 100vw;
    &_indicator {
        content: ' ';
        cursor: pointer;
        width: 10px;
        background-color: rgba($color: #5e57f0, $alpha: 0.6);
        height: 20vh;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translate(0, -50%);
        display: none;

        &:hover {
            background-color: rgba($color: #5e57f0, $alpha: 0.8);
        }
    }

    &_content {
        width: calc(100vw - 15px);
        height: 100vh;
        margin-left: 15px;
        // background-color: #333;
        // transition: all 0.5;
        overflow-y: auto;
        padding-top: 80px;
    }

    &_resize {
        height: 100vh;
        width: 1px;
        background-color: transparent;
    }

    &:hover {
        .home_indicator {
            display: block;
        }
    }
}

.search {
    background-color: white;
    position: fixed;
    border-radius: 6px;
    margin: 20px;
    margin-right: 10px;
    margin-left: 24px;
    z-index: 100;
    display: flex;
    width: -webkit-fill-available;
    flex: 1;
    align-items: center;
    justify-content: center;

    .chakra-input__left-addon {
        padding: 0;
    }
}

@media screen and (max-width: 100px) {
    .search {
        display: none;
    }
    .home_content {
        display: none;
    }
}